%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
	%fieldset
		= devise_error_messages!
		.clearfix
			= f.label :name
			.input
				= f.text_field :name
		.clearfix
			= f.label :email
			.input
				= f.email_field :email
		.clearfix
			= f.label :password
			.input
				= f.password_field :password
		.clearfix
			= f.label :password_confirmation
			.input
				= f.password_field :password_confirmation
		.clearfix
			= f.submit "Sign up", :class => "btn"
= render :partial => "devise/shared/links"

