%h2 Forgot your password?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
	= devise_error_messages!
	.clearfix
		= f.label :email
		.input
			= f.email_field :email
	.clearfix= f.submit "Send me reset password instructions", :class => 'btn'
= render :partial => "devise/shared/links"

