%h3 Home
- if @cards
	- @cards.each do |card|
		%p Card: #{link_to card.code, user_card_path(:user_id => current_user.id, :id => card.id)}
	= link_to "Add new card", new_user_card_path(:user_id => current_user)

