%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
	%fieldset
	.clearfix
		= f.label :email
		.input
			= f.email_field :email
	.clearfix
		= f.label :password
		.input
			= f.password_field :password
	- if devise_mapping.rememberable?
		.clearfix
			= f.label :remember_me
			.input
				= f.check_box :remember_me

	.clearfix= f.submit "Sign in", :class => "btn"
= render :partial => "devise/shared/links"

