%h2 Add new card
= form_for [@user, @card], :html => {:multipart => true} do |f|
	%fieldset
		= f.hidden_field :user_id, :value => current_user.id
		.clearfix
			= f.label :vendor
			.input
				= f.text_field :vendor
		.clearfix
			= f.label :code
			.input
				= f.text_field :code
				%span.help-block Should have 16 numbers
		.clearfix
			= f.label :amount
			.input.input-prepend
				%span.add-on $
				= f.text_field :amount
		.clearfix
			= f.submit "Add card", :class => "btn"

%p= link_to 'Back to cards', root_path

