%h3= @card.code
%p
	%strong Vendor
	= @card.vendor
%p
	%strong Amount
	= @card.amount

%p= link_to 'Get pdf', user_card_path(:user_id => current_user, :id => @card.id, :format => :pdf)

%p= link_to 'Back to cards', root_path

