!!!
%html
	%head
		%title E Gift Card Pdf Generation
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		= stylesheet_link_tag :application
		= javascript_include_tag :application
		= csrf_meta_tags
	%body{:class => params[:controller]}
		#container.container
			%header
				%nav
					%ul.hmenu
						= render 'shared/navigation'
					- flash.each do |name, msg|
						.alert-message{:class => name}
							%a.close{:href => "#"} ×
							%p= msg
				= yield
			%footer

