!!!
%html
	%head
		%title E Gift Card Pdf Generation
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		= csrf_meta_tags
	%body{:class => params[:controller]}
		#container.container
			%header
				- flash.each do |name, msg|
					.alert-message{:class => name}
						%a.close{:href => "#"} ×
						%p= msg
				= yield
			%footer

